
{% load staticfiles %}
<html>
  <head>
    <title>Navneet Choudhary</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstarp/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
      <div class="page-header" style="font-size:200%;text-align:center">
        <img id="image" src="{% static 'images/navneet.jpg' %}" style="width:110px;height:110px;border-radius:100px;float:left">
          Navneet Choudhary</br>
          <span style="font-size:50%">cnavneet58@gmail.com</br>blog</br>powered by django ... </br>&copy copyright reserved</span>
      </div>
    </br>
  </br>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  </body>
</html>
